.contents{
  background-color: aliceblue;
  display: flex;
}
.gazou{
  border: #2b2c2e;
  width: 800px;
  height: 600px;
  background: url(img/978423.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.gazou::before{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mozi{
  border: #2b2c2e;
  width: 800px;
  height: 600px;
  text-align: right;
  justify-content: center;
}
#a{
  font-size: 25px;
  font-weight: bold;
  width: auto;
  height: 100px;
  justify-content: center;
  padding: 100px 0px 50px 0px;

}
#b,#c,#d,#e{
  font-size: large;
  height: 50px;
}
#f{
  display: flex;
  justify-content: center;
  padding: 200px 10px;
  color: #FFF;
  width: 700px;
  position: absolute;
  font-size: 60px;
  overflow-wrap: break-word;
  text-align: center;
}
.mainvisual {
    height: 400px;
    /* background-color: brown; */
    background: url(img/gaikan-removebg-preview.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.nasio{
  height: 400px;
  /* background-color: brown; */
  background: url(img/nakaminasio-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #2b2c2e;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.btn:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

